Package: zodiac
Version: 0.5
Architecture: amd64
Maintainer: Nicola Zonta <nicola.zonta@zeden.org>
Installed-Size: 1280
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1-21), libgl1-mesa | libgl1, libgl1-mesa-glx | libgl1, libglu1-mesa | libglu1, libopenbabel2, libqt4-core (>= 4.3.4), libqt4-gui (>= 4.3.4), libqt4-qt3support (>= 4.3.4), libstdc++6 (>= 4.1.1-21)
Recommends: povray
Section: unknown
Priority: extra
Description: Zodiac Molecular Modelling suite
