Source: zodiac
Section: unknown
Priority: extra
Maintainer: Nicola Zonta <nicola.zonta@zeden.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: zodiac
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: povray
Description: Zodiac Molecular Modelling suite

